{% extends 'master.html' %}

{% block body %}
<section id="form">
    <div class="container">
        <div class="row">
            <div class="signup-form">
                <h2>Verify OTP</h2>
                <form method="post">
                    {% csrf_token %}
                    <label for="otp">Enter OTP:</label>
                    <input type="text" name="otp" id="otp" required>
                    <button class="btn btn-default" type="submit">Verify OTP</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
